<%= form_with url: videos_place_path, method: :get, local: true  do |v| %>
  <p class="form-group field">
    <%= v.label :places_id, 'Place', class: "control-label" %>
    <%= v.collection_select :places_id, @places, :id, :name, class: "form-control" %>
    <%= v.submit 'Search Place' %>
  </p>
<% end %>
